root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = 100

[*.{SchLib,PcbLib}]
insert_final_newline = unset
trim_trailing_whitespace = unset
